.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .headerLogo {
    width: 120px;
    height: 35px;
    object-fit: contain;
    margin: 0 10px;
    margin-top: 18px;
  }
  
  .header__search {
    display: flex;
    flex: 1;
    align-items: center;
   
  }
  
  .header__searchInput {
    height: 40px;
    padding: 15px;
    border: none;
    width: 95%;
    margin-left: 25px;
    font-size: 14px;
    -webkit-box-shadow: rgb(255, 153, 0) 0px 0px 0px 2px, rgba(255, 153, 0, 0.5) 0px 0px 0px 3px;
  }
  
  .header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
  }
  
  .header__optionLineOne {
    font-size: 10px;
    margin-top: 8px;
  }
  
  .header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
  }
  
  .header__optionBasket {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
    color: rgb(240, 136, 4);
  }
  
  .header__nav {
    display: flex;
    justify-content: space-evenly;
  }
  
  .header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
  }

  .cartIcon{
    width: 35px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 10px;
  }

  .numberOfOrders {
    position: absolute;
    margin-left: 34px;
    margin-top: 5px;
  }

  .footerBackToTop{
    display: block;
    text-align: center;
    background-color: #37475A;
    padding: 15px 0;
    line-height: 19px;
    font-size: 13px;
}

.navFooterLine{
    border-top: 1px solid #3a4553;
    margin-top: 40px;
    padding-top: 30px;
    width: 100%;
    box-sizing: border-box;
}
  