.header {
  height: 92px;
  align-items: center;
  z-index: 100;
  border-top: 1px solid #EEF0F4;
}

.headerLogo {
  width: 345px;
  height: 92px;
  object-fit: contain;
  cursor: pointer;
}

.header__search {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: white;
  margin-left: 60px;
  margin-right: 50px;
  border-radius: 20px;
  padding: 0 20px;
}

.headerSearchInput {
  flex: 1;
  height: 40px;
  padding: 15px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
}

.searchico {
  color: #5a6068;
  height: 20px;
  width: 30px;
  border-radius: 20px 0 0 20px;
  margin-right: 10px;
}

.logodiv {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.languagediv {
  display: flex;
  align-items: center;
}

.alang {
  color: #8B96A5;
  font-size: 11px;
  font-family: 'Inter';
}

.languageico {
  height: 40px;
  width: 40px;
  margin-left: 20px;
}

.singindiv {
  color: #ff9a02;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 21px;
  margin-bottom: 4px;
}

/* .numberOfOrders {
    position: absolute;
    margin-left: 34px;
    margin-top: 5px;
  } */

.footerBackToTop {
  display: block;
  text-align: center;
  background-color: #2B2B2B;
  padding: 15px 0;
  line-height: 19px;
  font-size: 13px;
  color: aqua;
}



.navFooterLine {
  background-color: #2B2B2B;
  padding: 30px 0;
  margin: 30px 0 0;
}


.divove {
  color: white;
}

.navFooterStyle {
  background-color: #002A42;


}

.navFooterMoreInfoSpace {
  font-family: inherit;
  font-size: 13px;
  line-height: 120%;
  padding: 0 20px;
  width: 4%;
}

.navFooterCopyright {
  max-width: 100%;
  font-size: 13px;
  color: #DDD;
}

.navFooterMoreInfo {
  max-width: 1000px;
  margin: 0 auto;
}

.navFooterMoreInfoHeader {
  font-size: 12px !important;
  padding: 0 0.75em;
  vertical-align: top;
  text-align: left;
  line-height: 115%;
}

.navFooterMoreInfoStyle {
  color: white
}

.navFooterMoreInfoText {
  font-size: 12px;
  color: #a4a4a4;
  line-height: 110%;
  display: block;
  margin-bottom: 1px;
}

.underheader {
  background-color: #FF9A02;
}

.underheader div {
  border-right: 1px solid #002A42;
  cursor: pointer;
}
.underheader div:last-child {
  border-right: none;
}


li {
  color: #5a6068;
  margin-top: 4px;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 32px;
  margin-right: 32px;
}

.left-elements,
.right-elements {
  display: flex;
  align-items: center;
}

.left-elements .language-container,
.left-elements .currency-container {
  display: flex;
  align-items: center;
  padding: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-right: 1px solid #EEF0F4;
  cursor: pointer;
}

.right-elements .settings-container,
.faq-container,
.shop-container,
.trackOrder-container {
  display: flex;
  align-items: center;
  padding: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-left: 1px solid #EEF0F4;
  cursor: pointer;
}

.right-elements .social-container {
  display: grid;

}

.top-header span {
  font-size: 12px;
  color: #7D8FA9;
  font-family: 'Roboto';
  text-decoration: none;
  margin-left: 5px;
}

.hamburger{
  cursor: pointer;
}