.style{
    height: 1400px;
    display: flex;
}

.dateSvg{
    margin-left: 500px;
    margin-top: 500px;
} 

.label {
    width: 420px;
    height: 90px;
    top: 105px;
    left: 150px;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.2px;
    text-align: left;
    color: #6B6A6E;
    padding: 10px;
    border-radius: 5px;

    position: relative;
}

.avatar {
    width: 356px;
    height: 356px;
    top: 296px;
    left: 670px;

    background-size: cover;
    background-position: center;

    position: absolute;
}

.userNameInput {
    width: 420px;
    height: 45px;
    top: 672px;
    left: 640px;
    border-radius: 10px;
    border: 1px solid #000;
    padding: 10px;
    border: 1px solid #A1A1A1;
    position: absolute;
}

.personalInfolabel {
    width: 420px;
    height: 90px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.2px;
    text-align: left;
    color: #6B6A6E;
    position: absolute;
}

.label-1{
    top: 774px;
    left: 150px
}

.label-2{
    top: 991px;
    left: 150px

}

.label-3{
    top: 1151px;
    left: 150px

}

.personalInfoInput{
    width: 420px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #A1A1A1;
    padding: 10px;
    position: absolute;
}

.input-1 {
    top: 831px;
    left: 150px;
}
.input-2 {
    top: 831px;
    left: 644px;
}
.input-3 {
    top: 831px;
    left: 1173px;
}
.input-4 {
    top: 906px;
    left: 150px;
}
.input-5 {
    top: 906px;
    left: 644px;
}
.input-6{
    top: 1057px;
    left: 150px;
}
.input-7{
    top: 1059px;
    left: 644px;
}
.input-8{
    top: 1221px;
    left: 150px;
}
.input-9{
    top: 1221px;
    left: 644px;
}
.input-10{
    top: 1221px;
    left: 1173px;
}
.input-11{
    top: 1291px;
    left: 150px;
}
.input-12{
    top: 1291px;
    left: 644px;
}

.plusSvg{
    margin-top: 1275px;
    margin-left: 410px;
}