.style{
    height: 1400px;
    display: flex;
}

.dateSvg{
    margin-left: 500px;
    margin-top: 500px;
} 

.label {
    width: 420px;
    height: 90px;
    top: 75px;
    left: 70px;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.2px;
    text-align: left;
    color: #6B6A6E;
    padding: 10px;
    border-radius: 5px;

    position: relative;
}

.avatar {
    top: 370px;
    left: 75px;

    background-size: cover;
    background-position: center;

    position: absolute;
}

.userNameInput {
    width: 420px;
    height: 45px;
    top: 410px;
    left: 252px;
    border-radius: 10px;
    border: 1px solid #000;
    padding: 10px;
    border: 1px solid #A1A1A1;
    position: absolute;
}

.personalInfolabel {
    width: 500px;
    height: 90px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.2px;
    text-align: left;
    color: #6B6A6E;
    position: absolute;
}

.label-1{
    top: 425px;
}

.label-2{
    top: 732px;
}

.label-3{
    top: 832px;
    left: -220px;
}

.personalInfoInput{
    width: 520px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #A1A1A1;
    padding: 10px;
    position: absolute;
}

.input-1 {
    top: 562px;
    left: -10px;
}
.input-2 {
    top: 562px;
    left: 530px;
}
.input-3 {
    top: 562px;
    left: 850px;
}
.input-4 {
    top: 637px;
    left: -230px;
}
.input-5 {
    top: 662px;
    left: 614px;
}
.input-6{
    top: 822px;
    left: 70px;
}
.input-7{
    top: 822px;
    left: 614px;
}
.input-8{
    top: 1010px;
    left: 70px;
}
.input-9{
    top: 1010px;
    left: 614px;
}
.input-10{
    top: 1010px;
    left: 1150px;
}
.input-11{
    top: 1090px;
    left: 70px;
}
.input-12{
    top: 1090px;
    left: 614px;
}

.plusSvg{
    margin-top: 882px;
    margin-left: 830px;
    margin-bottom: 50px;
    cursor: pointer;
}