
    .logindiv
    {
        display: inline-flex;
        
    }
    .rightside{
        background-color: 
        #FF9A02;
        display: flex;
        flex-wrap: wrap;
        height: 930px;
        width: 1010px;
        margin-left:0px;
    }
    
    .ipadgray{
        height: 770px;
        width: 910px;
        /* margin-top: 50PX; */
        margin-left: 100px;
        border-width: 6px 0 0 6px;
        border-color: #97989D;
        border-radius: 40px 0px 0px 0px;
    }
    .textdiv{
        height: 130px;
        font-size: 20px;
        font-weight: 400;
        margin-left: 230px;
        margin-top: 30px;
    }
    .ipadblack{
        height: 764px;
        width: 904px; 
        /* margin-top: 50PX; */
        
        border-width: 40px 0 0 40px;
        border-color: black;
        border-radius: 35px 0px 0px 0px;
        background-color: white;
    }
    
    

@media screen and (max-width: 1440px) {
    .logindiv
    {
        display: inline-flex;
        
    }
    .rightside{
        background-color: 
        #FF9A02;
        display: flex;
        flex-wrap: wrap;
        height: 830px;
        width: 610px;
        margin-left:0px;
    }
    
    .ipadgray{
        height: 81%;
        width: 510px;
        /* margin-top: 50PX; */
        margin-left: 100px;
        border-width: 6px 0 0 6px;
        border-color: #97989D;
        border-radius: 40px 0px 0px 0px;
    }
    .textdiv{
        height: 130px;
        font-size: 20px;
        font-weight: 400;
        margin-left: 230px;
        margin-top: 30px;
    }
    .ipadblack{
        height: 100%;
        width: 504px; 
        /* margin-top: 50PX; */
        
        border-width: 40px 0 0 40px;
        border-color: black;
        border-radius: 35px 0px 0px 0px;
        background-color: white;
    }
    
    
}


@media screen and (max-width: 1200px) {
    .logindiv
    {
        display: inline-flex;
        
    }
    .rightside{
        background-color: 
        #FF9A02;
        display: flex;
        flex-wrap: wrap;
        height: 830px;
        width: 610px;
        margin-left:0px;
    }
    
    .ipadgray{
        height: 81%;
        width: 510px;
        /* margin-top: 50PX; */
        margin-left: 100px;
        border-width: 6px 0 0 6px;
        border-color: #97989D;
        border-radius: 40px 0px 0px 0px;
    }
    .textdiv{
        height: 130px;
        font-size: 20px;
        font-weight: 400;
        margin-left: 230px;
        margin-top: 30px;
    }
    .ipadblack{
        height: 100%;
        width: 504px; 
        /* margin-top: 50PX; */
        
        border-width: 40px 0 0 40px;
        border-color: black;
        border-radius: 35px 0px 0px 0px;
        background-color: white;
    }
    
    
}
@media screen and (max-width: 998px) {
    .logindiv
    {
        display: inline-flex;
        
    }
    .rightside{
        background-color: 
        #FF9A02;
        display: flex;
        flex-wrap: wrap;
        height: 930px;
        width: 500px;
        margin-left:0px;
    }
    
    .ipadgray{
        height: 770px;
        width: 400px;
        /* margin-top: 50PX; */
        margin-left: 100px;
        border-width: 6px 0 0 6px;
        border-color: #97989D;
        border-radius: 40px 0px 0px 0px;
    }
    .textdiv{
        height: 130px;
        font-size: 18px;
        font-weight: 400;
        margin-left: 180px;
        margin-top: 30px;
    }
    .ipadblack{
        height: 764px;
        width: 394px; 
        /* margin-top: 50PX; */
        
        border-width: 40px 0 0 40px;
        border-color: black;
        border-radius: 35px 0px 0px 0px;
        background-color: white;
    }
    
}
@media screen and (max-width: 769px) {
    .logindiv
    {
        display: inline-flex;
        
    }
    .rightside{
        background-color: 
        #FF9A02;
        display: flex;
        flex-wrap: wrap;
        height: 930px;
        width: 354px;
        margin-left:0px;
    }
    
    .ipadgray{
        height: 770px;
        width: 254px;
        /* margin-top: 50PX; */
        margin-left: 100px;
        border-width: 6px 0 0 6px;
        border-color: #97989D;
        border-radius: 40px 0px 0px 0px;
    }
    .textdiv{
        height: 130px;
        font-size: 17px;
        font-weight: 400;
        margin-left: 50px;
        margin-top: 30px;
    }
    .ipadblack{
        height: 764px;
        width: 248px; 
        /* margin-top: 50PX; */
        
        border-width: 40px 0 0 40px;
        border-color: black;
        border-radius: 35px 0px 0px 0px;
        background-color: white;
    }
    
}




@media screen and (max-width: 576px) {
    .logindiv
    {
        display: inline-flex;
        
    }
    .rightside{
        background-color: 
        #FF9A02;
        display: none;
        flex-wrap: wrap;
        height: 930px;
        width: 288px;
        margin-left:0px;
    }
    
    .ipadgray{
        height: 770px;
        width: 238px;
        /* margin-top: 50PX; */
        margin-left: 50px;
        border-width: 6px 0 0 6px;
        border-color: #97989D;
        border-radius: 40px 0px 0px 0px;
    }
    .textdiv{
        height: 130px;
        font-size: 17px;
        font-weight: 400;
        margin-left: 20px;
        margin-top: 30px;
    }
    .ipadblack{
        height: 764px;
        width: 232px; 
        /* margin-top: 50PX; */
        
        border-width: 40px 0 0 40px;
        border-color: black;
        border-radius: 35px 0px 0px 0px;
        background-color: white;
    }
    
}


