@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf') format('truetype'); 
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('./fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('./fonts/centurygothic.ttf') format('truetype');
}

@font-face {
  font-family: 'hemi';
  src: url('./fonts/hemi\ head\ bd\ it.otf') format('truetype');
}

/* Example styles for h1 */
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
  }
  
  /* Example styles for h2 */
  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #555;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  
  /* Example styles for h3 */
  h3 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #666;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
  }
  
  /* Example styles for h4 */
  h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #777;
    margin-top: 1.3rem;
    margin-bottom: 0.6rem;
  }
  
  /* Example styles for h5 */
  h5 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #888;
    margin-top: 1.2rem;
    margin-bottom: 0.4rem;
  }

  /* Example styles for unordered lists */
ul {
    list-style-type: disc; /* bullet points */
    padding-left: 1.5rem;
    margin-bottom: 1rem;
  }
  
  /* Example styles for ordered lists */
  ol {
    list-style-type: decimal; /* numbered */
    padding-left: 1.5rem;
    margin-bottom: 1rem;
  }
  
  /* Example styles for list items */
  li {
    margin-bottom: 0.5rem;
  }
  
  /* Nested list styles */
  ul ul,
  ol ul,
  ul ol,
  ol ol {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
  }
  
  /* Add custom list-style for nested lists */
  ul ul,
  ol ul {
    list-style-type: circle;
  }
  
  /* Add custom list-style for nested ordered lists */
  ul ol,
  ol ol {
    list-style-type: lower-alpha;
  }


  @layer utilities {
    .text-outline {
      /* Text color */
      color: #fff;
      /* Apply text shadows to create an outline effect */
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
  }